{var $bodyClass="hp"}
{block content}
<div class="inner cover">
    <h1 class="cover-heading">Make something awesome.</h1>
    <p class="lead">Now you have installed Cool CMS and you can start build your own site with prepared modules.</p>
    {*<p class="lead">*}
    {*<a href="#" class="btn btn-lg btn-default">Learn more</a>*}
    {*</p>*}
</div>